<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" href="./css/style.css" />
<title>Review</title>
</head>
<body th:each="review : ${reviews}">
	<div id="container">
		<header>
			<h1 th:text="${review.review} + ' Review'"></h1>
			<nav>
				<ul>
					<li class="home"><a href="categories.html">Home</a></li>
					<li class="cateogryhome"><a
						th:href="@{category(id=${review.category.id})}"
						th:text="'Return to ' + ${review.category.category} + ' Category'"></a></li>
				</ul>
			</nav>
		</header>
		<main>
		<center>
			<img th:src="${review.image}"></img>
		</center>
		<h2>Description:</h2>
		<ul>
			<li th:text="${review.description}"></li>
		</ul>
		<h2>Tags:</h2>
		<ul th:each="tag : ${tags}">
			<li th:text="${tag.tagWord}"></li>
		</ul>
		<center>
			<button>
				<a th:href="${review.Url}">Visit their Site</a>
			</button>
		</center>
		<h3>Tag Link</h3>
		<span th:each="tag: ${tags}"> <a href="tagView.html"
			th:href="@{/tag(id=${tag.id})}" th:text="${tag.tagWord}"></a>
		</span>
		<h3>Add a Tag</h3>
		<form method="POST">
			<div>
				<label>Name of Tag: </label> <input type="text" name="tagWord" />
			</div>
			<div>
				<input name="reviewId" type="hidden" th:value="${review.id}" />
			</div>
			<div>
				<button type="submit" th:formaction="@{/add-tag}">Add Tag</button>
			</div>
		</form>
		<h3>Comment Section</h3>
		<form method="POST">
			<div>
				<label>Leave comment: </label> <input type="text" name="commentText" />
			</div>
			<div>
				<label>Enter your User</label> <input type="text" name="userName" />
			</div>
			<div>
				<input name="reviewId" type="hidden" th:value="${review.id}" />
			</div>
			<div>
				<button type="submit" th:formaction="@{/add-comment}">Enter</button>
			</div>
		</form>
		<ul th:each="comment: ${review.comments}">
			<li
				th:text="'Comment: ' + ${comment.commentText} + ' | Date: '+ ${comment.date} + ' | UserName: ' + ${comment.userName}"></li>
		</ul>
		</main>
	</div>
	<script src="./js/reviewsiteapp.js"></script>
</body>
</html>