<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" href="./css/style.css" />
<title>Review</title>
</head>
<body th:each="review : ${reviews}">
<h1 th:text="${review.review} + ' Review'"></h1>
<img th:src="${review.image}"></img>
<h2>Description:</h2>
<ul>
<li th:text="${review.description}"></li>
</ul>
<h2>Tags:</h2>
<ul th:each="tag : ${review.tags}">
<li th:text="${tag.tagWord}"></li>
</ul>
<center><p><a th:href="${review.Url}">Visit their Site</a></p></center>
<h3>Tag Link</h3>
<span th:each="tag: ${review.tags}">
<a href="tagView.html" th:href="@{/tag(id=${tag.id})}" th:text="${tag.tagWord}"></a>
</span>
<center><p><a th:href="@{category(id=${review.category.id})}" th:text="'Return to ' + ${review.category.category} + ' Category'"></a></p></center>
<center><p><a href="categories.html">Back to Home</a></p></center>
</body>
</html>